#box1{
    text-align: center;
    background-color: brown;
    width: 400px;
    border: 15px solid lawngreen;
    margin: 100px;
}

.box2{
    text-align: center;
    background-color: blueviolet;
    width: 600px;
    height: 100px;
    border: 20px solid yellow;
    margin: 140px;
}