*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 700px;
    width: 600px;
    border: 5px solid red;
    border-bottom: 5px solid red;
    text-align: right;
}
.top img{
    width: 100%;
}
.bottom img{
    width: 100%;
   padding-top: 317px;
}
.logo{
    padding-top: 30px;
    
}


  